<mat-toolbar color="accent">
  <mat-toolbar-row>
    <div fxFlex="70"><span></span></div>
    <div fxFlex="30" class="rightCell">
      <button (click)="updateAccount(currentAccount)" mat-button>Save</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div>
  <div class="row spacedRow">
    <div class="col-md-2">
      <input
        type="text"
        [(ngModel)]="currentAccount.ID"
        readonly
        class="form-control input-sm"
      />
    </div>

    <div class="col-md-3">
      <input
        type="text"
        [(ngModel)]="currentAccount.Name"
        size="40"
        placeholder="Text:"
        class="form-control input-sm"
      />
    </div>

    <div class="col-md-2">
      <mat-slide-toggle [ngModel]="currentAccount.Expense"
        >Paid</mat-slide-toggle
      >
    </div>
  </div>
</div>
