<mat-toolbar color="accent">
  <mat-toolbar-row>
    <div fxFlex="70"><span></span></div>
    <div fxFlex="30" class="rightCell">
      <button (click)="addAccount()" mat-button>New</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="panelBox">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col" class="center">Expense</th>
        <th scope="col" colspan="2" class="center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td class="readonlyID">{{ account.ID }}</td>
        <td>{{ account.Name }}</td>
        <td class="center" [innerHTML]="account.Expense | checked"></td>
        <td class="center">
          <a class="tblCMD" (click)="editAccount(account)">Edit</a>
        </td>
        <td class="center">
          <a class="tblCMD" (click)="deleteAccount(account)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
