.main {
  background-color: rgb(234, 235, 201);
  margin: 1rem;
  padding: 1rem;
}

li {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
